.accordion-btn {
    background-color: #f5f5f5;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

.active,
.accordion-btn:hover {
    background-color: #ddd;
}

.card-body {
    display: none;
    padding: 18px;
    background-color: white;
    overflow: hidden;
}

/* ---- Widget de horas y días ---- */

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
}

.checkbox-unit {
    display: flex;
    flex-flow: column;
    align-items: center;
    align-content: center;
    text-align: center;
}

.checkbox-group label {
    position: relative;
    margin-right: 8px;
    margin-bottom: 8px;
}

.checkbox-group label input[type="checkbox"] {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.checkbox-group label .checkmark {
    position: relative;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: #fff;
}

.checkbox-group label input[type="checkbox"]:checked+.checkmark {
    background-color: #007bff;
}

.checkbox-group label input[type="checkbox"]:focus+.checkmark {
    outline: 1px dotted #ccc;
}

.dias {
    width: 50px;
    height: 50px;
}

.horas {
    width: 30px;
    height: 50px;
}
