  
  body {
    position: relative;
    min-height: 100vh;
    padding-bottom: calc(134px + 20px); /* Height of the footer + extra padding */
  }
  
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

/* ---- Widget de horas y días ---- */

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
}

.checkbox-unit {
    display: flex;
    flex-flow: column;
    align-items: center;
    align-content: center;
    text-align: center;
}

.checkbox-group label {
    position: relative;
    height: fit-content;
    margin: none;
}

input[type='checkbox'].horas {
    height: 65px;
    width: 65px;
    margin: 2px;
    accent-color: rgb(99, 93, 131);
}

input[type='checkbox'].dias {
    height: 70px;
    width: 70px;
    margin: 2px;
    accent-color: rgb(245, 78, 142);
}

.time {
    border-radius: 5px;
    padding: 2px 6px;
    font-size: smaller;
  }

  .time.weekday {
    background-color: #ffdfba;
    color: #646464;
  }

  .time.dark {
    background-color: #bdc9d4;
    color: #646464;
  }
  
  .time.semilight {
    background-color: #ffdfba;
    color: #646464;
  }
  
  .time.light {
    background-color: #fff6c0;
    color: #646464;
  }
  
  .time.dark:before {
    content: "\1F31C ";
  }
  
  .time.semilight:before {
    content: "\1F307 ";
  }
  
  .time.light:before {
    content: "\1F31E ";
  }
  
  /* ---- Form ---- */
  
  .form-group {
    margin: 20px;
  }

  .form-style {
    border-radius: 15px;
    margin: 30px;
    padding: 30px;
    border: 1px solid #cccccc;
    box-shadow: 2px 2px 2px #646464;
    background: linear-gradient(232deg, rgb(248, 251, 255) 0%, rgb(244, 241, 247) 87%, rgb(243, 236, 234) 100%);
  }

  input, select, textarea {
    box-shadow: inset 1px 1px 1px #979797;
  }
