  
  body {
    position: relative;
    min-height: 100vh;
    padding-bottom: calc(134px + 20px); /* Height of the footer + extra padding */
  }
  
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

/* ---- Widget de horas y días ---- */

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
}

.checkbox-unit {
    display: flex;
    flex-flow: column;
    align-items: center;
    align-content: center;
    text-align: center;
}

.checkbox-group label {
    position: relative;
    height: fit-content;
    margin: none;
}

input[type='checkbox'].horas {
    height: 65px;
    width: 65px;
    margin: 2px;
    accent-color: rgb(99, 93, 131);
}

input[type='checkbox'].dias {
    height: 70px;
    width: 70px;
    margin: 2px;
    accent-color: rgb(245, 78, 142);
}

.time {
    border-radius: 5px;
    padding: 2px 6px;
    font-size: smaller;
  }

  .time.weekday {
    background-color: #ffdfba;
    color: #646464;
  }

  .time.dark {
    background-color: #bdc9d4;
    color: #646464;
  }
  
  .time.semilight {
    background-color: #ffdfba;
    color: #646464;
  }
  
  .time.light {
    background-color: #fff6c0;
    color: #646464;
  }
  
  .time.dark:before {
    content: "\1F31C ";
  }
  
  .time.semilight:before {
    content: "\1F307 ";
  }
  
  .time.light:before {
    content: "\1F31E ";
  }
  
  /* ---- Form ---- */
  
  .form-group {
    margin: 20px;
  }

  .form-style {
    border-radius: 15px;
    margin: 30px;
    padding: 30px;
    border: 1px solid #cccccc;
    box-shadow: 2px 2px 2px #646464;
    background: linear-gradient(232deg, rgb(248, 251, 255) 0%, rgb(244, 241, 247) 87%, rgb(243, 236, 234) 100%);
  }

  input, select, textarea {
    box-shadow: inset 1px 1px 1px #979797;
  }

    /* ---- Actividades y notas ---- */

    .actividades, .notas {
      border-radius: 8px;
      margin-left: 30px;
      margin-right: 30px;
      padding: 15px;
      border: 2px solid #cccccc;
      box-shadow: 2px 2px 2px #646464;
    }

    .actividades {
      display: flex;
      background: linear-gradient(232deg, rgb(255, 255, 255) 0%, rgb(252, 249, 250) 87%, rgb(252, 249, 248) 100%);
    }
    .notas {
      display: flex;
      background: linear-gradient(232deg, rgb(255, 255, 255) 0%, rgb(249, 252, 250) 87%, rgb(250, 248, 252) 100%);
    }

    img {
      width: 120px;
      height: 120px;
      object-fit: cover;
      border: 1px solid #cccccc;
    }

    input[type='checkbox'].hecho-checkbox {
      height: 50px;
      width: 50px;
      margin: 2px;
      accent-color: rgb(99, 93, 131);
  }

  .actividad-text {
    white-space: pre-wrap;
    margin-left: 20px;
    margin-right: 20px;
    flex-grow: 3
  }

  .actividad-text::first-line{
    font-weight:bold
   }