/* ---- Actividades y notas ---- */

.actividad,
.nota {
    display: flex;
    border-radius: 1rem;
    padding: 1.6rem;
    border: 2px solid #cccccc;
    box-shadow: 2px 2px 2px #646464;
}

.actividad {
    background: linear-gradient(232deg, rgb(255, 255, 255) 0%, rgb(252, 249, 250) 87%, rgb(252, 249, 248) 100%);
}

.nota {
    background: linear-gradient(232deg, rgb(255, 255, 255) 0%, rgb(249, 252, 250) 87%, rgb(250, 248, 252) 100%);
}

.actividadCol2 {
    margin-left: 1rem;
}

.actividadCol2 div {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.actividadName {
    font-weight: bold;
}

img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border: 1px solid #cccccc;
}

input[type='checkbox'].hecho-checkbox {
    height: 3rem;
    width: 3rem;
    margin: 0.5rem;
    accent-color: rgb(99, 93, 131);
}