<!DOCTYPE html>
<html lang="en">

<%- include('head'); %>

<body>

    <%- include('header'); %>
    
    Borrar cookies:

    <button class="btn btn-danger" id="delete-cookies-button">
        Borrar cookies
    </button>

    <%- include('footer'); %>

    <script src="js/config.js"></script>
    
</body>

</html>