<form id="addForm" class="form-style">

    <div class="form-group">
        <label for="actividad-input">Nueva actividad:</label>
        <input class="form-control" type="text" id="actividad-input" name="actividad-input" required>
    </div>

</form>

<button class="btn btn-primary" id="addButton">
    Add
</button>

<button class="btn btn-danger">
    Clear
</button>

<a href="advanced" class="btn btn-primary">Más opciones</a>

<script src="js/indexForm.js"></script>